/* .why-upskill {
  height: auto;
  width: 100%;
  display: block;
  background-color: #fff9eb;
} */

/* .why-upskill img {
  height: auto;
  width: 90%;
  object-fit: scale-down;
  filter: brightness(0.8);
  display: block;
  margin-top: 12%;
  margin-left: 5%;
  position: relative;
  padding-right: 5%;
} */
/* 
.why-upskill h1 {
  font-weight: 800;
 color: #ff7b00;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
  margin-top: 12%;
  margin-left: 8%;
} */

/* .why-upskill p {
    font-weight: 700;
    font-size: clamp(0.5rem, 2.0vw, 1.5rem);
    margin-left: 8%;
    justify-content:flex-start;
} */

.why-upskill button {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #ff7b00;
  border: none;
  border-radius: 20px;
  padding: 0.8rem;
}
.why-upskill button:hover {
  background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
