.slide-img {
  height: 100%;
  object-fit: contain;
  filter: brightness(0.6);
}

.home-caption {
  top: 70%;
  transform: translateY(-50%);
  bottom: initial;

}

@media screen and (max-width:768px) {
  .home-caption {  
  position:relative;  
  top:40%;
  transform: translateY(-50%);
  bottom: initial;
 }

 .carousel-control-next-icon,
 .carousel-control-prev-icon
 {
  position: relative; 
  top: 10%;
  transform: translateY(-50%);
 }

 .carousel-indicators button {
  position:relative;
  top:50%;
  transform: translateY(-10%);
 }


}

.homecarousel-item {
  height: auto;
}

@media screen and (max-width:768px){
  .homecarousel-item{
    height: 100%;
    margin-top: 5%;

  }

  .homecarousel-item .slide-img{
    object-fit: 'cover';
    width: 150%;
    height: auto;
  }
  
}

.carousel-title {
  font-weight: 700;
  font-size: clamp(1.0rem, 1.5vw, 1.6rem);
  text-shadow: 1px 0px 13px black;
  color: #ff7b00;
}

.carousel-text {
  font-size: clamp(1.5rem, 2.0vw, 2.5rem);
  font-weight: 800;
  text-shadow: 0 0 20px black;
}

.carousel-home .carousel-call {
  background-color: #ff7b00;
  color: white;
  border-color: #ff7b00;
  font-size: clamp(1.0em,1.15vw,1.25em);
  font-weight: 600;
  border-radius: 25px;
  padding: 0.3rem 0.7rem;
}

.carousel-home .carousel-call:hover {
  background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.carousel-home .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-home .carousel-control-next-icon {
  background-image: url("../../../images/chevron-right.svg");
  width: 50px;
  height: 50px;
}
.carousel-home .carousel-control-prev-icon {
  background-image: url("../../../images/chevron-left.svg");
  width: 50px;
  height: 50px;
}
