.slide-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: inital;
}

.carousel-item {
  height: 87vh;
}

.carousel-title {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 1px 0px 13px black;
  color: #ff7b00;
}

.carousel-text {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0 20px black;
}

.carousel .carousel-call {
  background-color: #ff7b00;
  color: white;
  border-color: #ff7b00;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 20px;
  padding: 0.8rem;
}

.carousel .carousel-call:hover {
  background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}