

.careerpathway .careerpathway-button{
  font-size: clamp(1.0em, 2vw, 1.2em);
  font-weight: 600;
  background-color: #ff7b00;
  border: none;
  border-radius: 25px; 
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
}

.careerpathway .careerpathway-button:hover{
    background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}