.careerpathway{
  margin: 2rem auto;
  height: auto;
}

.careerpathway .careerpathway-button{
  font-size: clamp(1.0em, 1.1vw, 1.2em);
  font-weight: 600;
  background-color: #ff7b00;
  border: none;
  border-radius: 25px; 
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
}

.careerpathway .careerpathway-button:hover{
    background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.careerpathway img{
    object-fit: scale-down;
    border-radius: 50%;
    border: 1px solid #fff;
    transform:scale(0.8);
    translate: transform 300ms;
    margin: 0 auto;
    
}

@media screen and (max-width:1098px) {
  .careerpathway img{
    transform: scale(0.5);
    translate: transform 300ms;
    
    
  }
  
}
.careerpathway .slide{
  transform: scale(0.6);
  translate: transform 300ms;
  opacity: 0.5;
}

.careerpathway .activeSlide{
  transform: scale(1.1);
  opacity:1.0;
}

.slick-slide{
 /*  height: 50%;
   width: 75%; */
   justify-content: center;
   margin: auto;
}

.slick-active{
  margin: 0 auto;
}

.slick-current{
  margin: 0 auto;
}

.careerpathway .slick-track{
  height: 100%;
}

.slick-list{
  height: 100%;
  margin: auto;
}

.slick-dots{
  margin-top: 0%;
  display: relative;
}
.careerpathway .card{
  height: 32rem;
  width:75%;
  padding: 2px;
  border-radius: 25px;
  justify-content: center;
}