.selected-answer {
    background: #ff7b00;
    border: 1px solid #800080;
    color: white;
  }

  .quiz-main{
    cursor: pointer;
  }

  .button {
    background-color: #ff7b00;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    width: 150px;
  }

  .button:hover{
    background-color: #a60037;
    border-color: #a60037;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .button[type="button"]:disabled{
    background-color: rgb(124, 211, 30);
    cursor: no-drop;

  }

  .btn-flat{
    background-color: purple;
    color: white;
  }