.faq {
    height: auto;
    width: 100%;
    background-color: burlywood;
    padding-bottom: 3%;
    
}

.faq h1 {
    color:#000;
    font-weight: 800;

}

.faq h2 {
    color:rgb(0, 0, 0);
    font-weight:700;
}


.faq p {
    color: black;
    font-weight:700;
}

.faq .accordion {
    max-width: 800px;
    background-color: #fff9eb;   
    box-sizing: border-box;
}

.faq .accordion-item {
    border: 0px solid rgba(248, 219, 4, 0.15);
    background: transparent;
    box-sizing: border-box;
    word-break: break-word;
    /* border: none; */
  }
  
.faq  .accordion-button {
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgb(224, 178, 118) ;
  }
  
.faq  .accordion-button:not(.collapsed) {
    color: black;
    background-color: rgb(224, 178, 118);
  }
  
.faq  .accordion-button:not(.collapsed)::after {
    filter: brightness(10%) invert(50%);
  }
  
.faq  .accordion-body:not(.collapsed) {
    font-size: 1.1rem;
    font-weight: 600;
    background-color:burlywood;
  }

.faq  .accordion-button:focus {
    box-shadow: none;
  }
  
  /*.faq .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
  }
  .faq .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  } */

  .faq .col-sm-1 {
    background-color: rgba(0, 0, 0, 0.1);
    }

  .faq .col-sm-11 {
    border: 1%;
    
  }  

.faq .row {
    border-color: burlywood;
    padding-bottom: 1%;
    background-color: burlywood;
    
}