/* 
.getintouch {
    width:100%;
    height: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    display: block;
    align-items: center;
    justify-content: center;

} */

/* .getintouch .card {
  width: 65%;
  margin-left: 20%;
  margin-bottom: 5%;
  display: block;
  border-color: #ff7b00;
} */

/* .getintouch .card-title {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
} */

/* .getintouch .card-text {
  font-weight: 600;
} */

.contact-form {
  /* width: 90%;
  margin-bottom: 5%;
  padding: 1.5%;
  margin-top: 0%;
  margin-left: 0%;
  position: relative; */
  border: 2px solid #ff7b00;
  border-radius: 25px;
  /* background-color: #fff9eb; */
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6); */
}

.contact-form .form-control {
  background-color: #fff9eb;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .getintouch-form .card {
  display: inline-block;
} */
/* 
.getintouch-form #floatingTextarea2 {
  margin-top: 3%;
  margin-bottom: 3%;
} */

/* .getintouch-form h1 {
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
} */

.contact-form .form-label {
  font-weight: 500;
}

.contact-form .form-button {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #ff7b00;
  border: none;
  /* border-radius: 20px; */
  padding-left: 2rem;
  padding-right: 2rem;
}
.contact-form .form-button:hover {
  background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
