
.getintouch {
    width:100%;
    height: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    display: block;

}


.getintouch .card {
    width: 70%;
    margin-left: 10%;
    margin-bottom: 5%;
    display: block;

}

.getintouch .card-title {
    font-size: 30px;
    font-weight: 700;
    display:inline-block;
    margin-left: 7.5%;
}

.getintouch .card-text {
    font-weight: 600;
}

.getintouch-form {
    width: 90%;
    margin-bottom: 5%;
    padding:1.5%;
    margin-top: 0%;
    margin-left: 1%;
    position: relative;
    
}

.getintouch-form .card{
    display: inline-block;
}

.getintouch-form #floatingTextarea2 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.getintouch-form h1 {
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
}

.getintouch-form .form-label {
    font-weight: 600;
}