.companies {
  /* margin-top: 1%;
  margin-bottom: 1%; */
  /* padding: 1%; */
  background-color: #fff9eb;
}

.companies h1 {
  /* color: #ff7b00; */
  /* font-weight: 800; */
  /* text-transform: uppercase; */
  /*text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5); */
  text-align: center;
  margin-bottom: 0.8rem;
}

.scroll-parent {
  position: relative;
  width: 100vw;
  height: 12rem;
  padding: 2rem 0;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.scroll-element img {
  width: 10%;
  padding: 2%;
  margin-top: 1%;
}

.primary {
  animation: primary 50s linear 1s infinite;
}

.secondary {
  animation: secondary 50s linear 1s infinite;
}

@keyframes primary {
  from {
    left: -0%;
  }

  to {
    left: -190%;
  }
}

@keyframes secondary {
  from {
    left: 190%;
  }

  to {
    left: 0%;
  }
}

.artist__media {
  margin-top: 50px;
  position: relative;
}

.artist_media::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 15px;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 85%);
  width: 25%;
}

.artist_media::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 15px;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    white 95%
  );
  width: 25%;
}

.artist_media .content {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

/*On screens that are 1199px or less, set the image to bigger width */
@media only screen and (max-width: 1199px) {
  .scroll-element img {
    width: 15%;
  }

  @keyframes primary {
    from {
      left: -0%;
    }

    to {
      left: -290%;
    }
  }

  @keyframes secondary {
    from {
      left: 290%;
    }

    to {
      left: 0%;
    }
  }
}
