
.scroll-parent {
  position: relative;
  width: 100vw;
  height: 10rem;
  padding: 2rem 0;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.scroll-element img {
  width: 5%;
}

.primary {
  animation: primary 20s linear infinite;
}

.secondary {
  animation: secondary 20s linear infinite;
}

@keyframes primary {
  from {
    left: -20%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 80%;
  }
  to {
    left: 0%;
  }
}