/* .howitworks-main {
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
} */

/* .howitworks-card {
  height: 10rem;
} */

/* .howitworks-image {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
} */

/* .howitworks-main h1 {
  color: #ff7b00;
  font-weight: 800;
} */
