.howitworks-main {
  background-color: black;
  color: white;
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.howitworks-card {
  height: 10rem;
}

.howitworks-title {
  color: goldenrod;
}

.howitworks-image {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
}

.howitworks-main h1 {
  color: #ff7b00;
  font-size: 25px;
  font-weight: 800;
}

.howitworks-main p {
  color: white;
  font-size: 35px;
  font-weight: 600;
}
