.statistics {
  background-color: #fff9eb;
}

.statistics .card {
  background-color: #fff9eb;
  border: 0px;
}

.statistics .card-title {
  color: #ff7b00;
  font-weight: 800;
}

.statistics .card-text {
  color: #000000;
}
