/* .testimontials {
  background-color: #fff9eb;
  padding-bottom: 20px;
  padding-top: 20px;
} */

/* .testimontials .card {
    background-color: #fff9eb;
    padding-left: 0px;
    padding-right: 0px;

}

.testimontials .card-title {
    color: #ff7b00;
    font-weight: 800;
}

.testimontials .card-text {
    color: #000000;
} */
