.benefits {
    height: auto;
    padding-top: 2%;
    background-color: #fff;
}

.benefits-title {
    font-size: clamp(1.5rem,2.0vw,2.5rem);
    color: #ff7b00;
    font-weight: 800;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}

.benefits .card {
    background-color: #fff;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 5%;
    margin-bottom: 5%;
    width: 35rem;
}

.benefits h1 {
    text-align: center;
    font-size: clamp(1.5rem, 2.0vw, 2.5rem);
    font-weight: 800;
    color: #ff7b00;
    padding-top: 10px;
}

.benefits .card-text {
    text-align: center;
}