/* .cws {
    background-color: #fff9eb;
    padding: 0px;
} */
/* 
.collaborateWithUsForm {
  width: 60%;
  margin-top: 45px;
  margin-bottom: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  margin-left: 20%;
  border-width: 5%;
  background-color: rgba(224, 178, 118, 0.1);
  padding-left: 2%;
  padding-right: 2%;
} */

/* .collaborateWithUsForm h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: #ff7b00;
  padding-top: 10px;
  padding-bottom: 30px;
} */

.corpform .form-control {
  background-color: #fff9eb;
  padding-top: 10px;
  padding-bottom: 10px;
}

.corpform .form-select {
  background-color: #fff9eb;
  padding-top: 10px;
  padding-bottom: 10px;
}

.corpform .corpform-button {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #ff7b00;
  border: none;
  /* border-radius: 20px; */
  padding-left: 2rem;
  padding-right: 2rem;
}
.corpform .corpform-button:hover {
  background-color: #a60037;
  border-color: #a60037;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.corpform .corpform-button[type="submit"]:disabled{
  background-color: rgba(143, 138, 138, 0.6);
  cursor: no-drop;
}

.corpform .msgbox{
  border-radius: 25px;
  border-color: #ff7b00;
  border-width: 2px;
}