.collaborateWithUsForm {
    width: 70%;
    margin-top: 45px;
    margin-bottom: 5%;
    padding-top: 15px;
    position: relative;
    margin-left: 15%;
    border-width: 5%;
    background-color: #fff9eb;
}