.corporateTestimonials {
    height: auto;
    padding-top: 2%;
    background-color: #fff9eb;
}



.corporateTestimonials-title {
    font-size: clamp(1.5rem,2.0vw, 2.5rem);
    color: #ff7b00;
    font-weight: 800;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}


.corporateTestimonials .card {
    background-color: #fff;
    width: 25rem;
    height: auto;
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 2%;

    border: solid;
    border-width: 1px;
    border-color: #ff7b00;
    border-radius: 25px;
}