.corporateTestimonials {
    margin: 2rem auto;
    height: auto;
    padding-top: 2%;
    background-color: #fff9eb;
}

.corporateTestimonials .cust-style{
    margin:auto;
}

.corporateTestimonials-title {
    font-size: clamp(1.5rem,2.0vw, 2.5rem);
    color: #ff7b00;
    font-weight: 800;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.corporateTestimonials .cust-text{
    font-size: clamp(1.0rem, 1.0vw, 1.1rem);
    font-weight: 600;
}


.corporateTestimonials .card {
    background-color: #fff;
    width: 80%;
    height: 25rem;
    padding: 10px;
    margin:10px;

    border: solid;
    border-width: 1px;
    border-color: #ff7b00;
    border-radius: 25px;
}

@media screen and (max-width:1500px) {

    .corporateTestimonials .card {
        width: 35rem;
    }
    
}

.corporateTestimonials .slider {
    width: 100%;
    margin: auto;
    display: inline-flex;
}

.corporateTestimonials .slick-dots{
    display: relative;
    margin-top: 0;
}