.corporateHeader {
    height: 100%;
    background-color: #fff9eb;
    margin-top: 1%;

}


.corporateHeader-title {
    width: 100%;
    font-size: clamp(1.5rem, 2.0vw, 2.5rem);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #ff7b00;
    background-color: #fff9eb;
    line-height: 1em;
    padding-top: 50px;
    margin-bottom: 20px;
}