.corporateHeader {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #fff9eb;
    padding-left: 0px;
    padding-right: 0px;
}

.corporateHeader-title {
    width: 100%;
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #ff7b00;
    background-color: #fff9eb;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}