.partnerus {
    height: auto;
    width: 100%;
    display: inline-block;
    background-color: #fff9eb;

}

.partnerus img {
    height: auto;
    width: 75%;
    object-fit: contain;
    filter: brightness(0.8);
    display: block;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.partnerus h1 {
    font-size: clamp(1.5rem, 2.0vw, 2.5rem);
    color: #ff7b00;
    font-weight: 800;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    text-transform: uppercase;
    margin-top: 25%;
}

.partnerus p {
    color: black;
    font-weight: 700;
    font-size: clamp(1.0rem, 1.2vw, 1.25rem);
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}

.partnerus .row {
    margin-top: 5%;
}

.partnerus .col {
    align-items: center;
}

@media (max-width: 768px) {
    .partnerus h1 {
        text-align: center;
        margin-left: 0px;
    }

    .partnerus p {
        text-align: center;
        margin: 0px;
        margin-left: 5%;
        margin-right: 5%;
    }
  }