.navbar-image {
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 200px;
}

.navbar-button {
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.hover-effect:hover{
    opacity: 0.8;
    fill:rebeccapurple;
  }
  
.hover-navbar:hover{
    opacity: 0.5; 
  }