.navbar-image {
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 300px;
}

.navbar-main {
  color: black;
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.hover-effect:hover{
    opacity: 0.8;
    fill:rebeccapurple;
  }
  
.hover-navbar:hover{
    opacity: 0.5; 
  }

  .navbar-button {
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 1.0em;
    font-weight: 600;
    background-color: #ff7b00;
    border: none;
    border-radius: 5px;
    padding: 0.2rem;
  }
  
  .navbar-button:hover {
    background-color: #a60037;
    border-color: #a60037;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
      
  }

  .navbar-margintop{
    margin-top: -0.35rem;
    padding-left: 1.0rem;
    text-decoration: none;
    color:black;
  }

  .navbar-margintop a {

    text-decoration: none;
    color: black;
    font-weight: 600;

  }

  .navbar-main .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: #ff7b00;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav {
  --bs-nav-link-hover-color: #ff7b00;
}